@font-face {
	font-family: arialnarrow;
	src: url("../lib/fonts/arial-narrow.woff");
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: 18px;
	background-color: #8ace00;
}

* {
	font-family: arialnarrow, 'Arial Narrow', Arial, sans-serif;
}

input[type='checkbox'] {
	width: 2rem;
	height: 2rem;
}
